.navbar {
    display: flex;
    height: 120px;
  }
  
  .container {
    width: 250px;
  }
  
  .col2 {
    width: 500px;
    flex-grow: 2;
  }
  
  .col3 {
    width: 200px;
    flex-grow: 1;
  }
  
  .col4 {
    width: 200px;
    flex-grow: 1;
    text-align: center;
  }
 
  
  .image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
    
  .search-bar {
    margin: 45px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
  }
  
  button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #6cd138;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #999;
  }
  
  i {
    color: #fff;
  }
  .column {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    box-sizing: border-box;
    padding: 10px;
  } 

  .hover-text {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 1;
}
.hover-box:hover .hover-text {
    display: block;
}

.shop_by {
    display: flex;
    height: 30px;
}
.shopcol1 {
    width: 180px;
    flex-grow: 1;
    color: white;
    background-color: #6cd138;
    border: 0.5px solid #bebdbd;
}

.shopcol2 {
    width: 600px;
    flex-grow: 3;
    background-color: white;
    border: 1px solid #bebdbd;    
}

.share {
    display: flex;
    height: 30px;
}
.sharecol1 {
    width: 600px;
    flex-grow: 1;
    background-color: white;
   
}
.body {
  display: flex;
  height: 500px;
 
}
.body-left {  
  border-right: 1px solid black;
  margin: 10px 0;
  width: 200px;
  flex-grow: 1;
}

.body-right {
  padding-left: 50px;
  width: 1000px;
  flex-grow: 3;     
}

.underline {  
  padding-top: 20px;
  padding-left: 5px;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  color: rgb(5, 5, 5); /* Change the color to your preferred color */
}

.underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px; /* Change the thickness of the underline by adjusting the value */
  width: 100%;
  height: 3px; /* Change the height of the underline by adjusting the value */
  background-color: #6cd138; /* Change the color of the underline to your preferred color */
}
.Employees{
  padding-top: 10px;
  padding-left:20px;
}
.Depertement {
  padding-top:5px;
  padding-left:30px;
}
.Tec {
  padding-top:5px;
  padding-left:40px;
}
.enigima {
  padding-top:5px;
  padding-left:50px;
}
.profiles {
  padding-top:5px;
  padding-left:60px;
}
.sai{
  padding-top:5px;
  padding-left:70px;
}
.a_year {
  padding-left: 150px;
}

.tabbed-slider {
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
}

.tab {
  border: none;
  background-color:#6cd138#eee;
  padding: 1px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: bold;
}

.tab.active {
  background-color: #fff;
}

.slides {
  position: relative;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}
.icon {
  height: 30px;
  width: 30px;
}



footer {
  display: flex;
  height: 300px;
  font-size: 14px;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: gray;

}

.footer-1 {  
  width: 300px;
  flex-grow: 1;
}

.fotter-2 {
  padding-left: 50px;
  width: 300px;
}

.fotter-3 {
  padding-left: 50px;
  width: 300px;
}
.fotter-4 {
  padding-left: 50px;
  width: 300px;
}

.fotterend {
  font-size: 16px;
  font-family: ProximaNovaA-Semibold;
  padding-bottom: 5px;
  display: flex;
  height: 280px;
  width: 1200;
  flex-grow: 1;
  color: gray;

}

.copyright{
  font-family: ProximaNovaA-Semibold;
  text-align: center;
  padding-top: 0.3px;
  width: 100%;
  height: 40px;
  background-color: #dbd6d6;
}